
@media (max-width: 1024px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-header__container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section-project__container {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-about__container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    position: fixed;
    z-index: 10;
    left: 100vw;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translate(-101%);
        -ms-transform: translate(-101%);
            transform: translate(-101%);
    top: 0;
    z-index: 20;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    background-color: #fdfdfd;
    overflow-y: auto;
    left: -100%;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    padding-top: 160px;
    padding-bottom: 150px;
    padding-left: 70px;
    width: 41%;
    height: 100%;
    overflow: hidden;
  }

  .nav__item {
    margin-bottom: 60px;
  }

  .nav__link, .nav__link > span {
    font-size: 24px;
  }

  .burger-menu_active .menu {
    right: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    position: fixed;
    z-index: 20;
  }

  .menu.is-active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    position: fixed;
    left: 0vw;
    right: 0;
    z-index: 20;
  }

.burger {
  --burger-width: 25px;
  --burger-height: 25px;
  --burger-line-height: 3px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #333333;
  background-color: transparent;
  cursor: pointer;
  right: 0px;
  z-index: 30;
}

.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  top: calc(100% - var(--burger-line-height));
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger--active .burger__line {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #E1670E;
}

.burger:active {
  color: #E1670E;
}

.burger:hover {
  color: #FF9900;
}

/* Изменяем размеры для линий бургера */
.burger:hover span, .burger:active span  {
  width: calc(100% / 6 * 5);
  left: auto;
  right: 0px;
}

.burger:hover::after, .burger:active::after {
  width: 60%;
  left: auto;
  right: 0px;
}
/**/

.burger--active:active {
  color: #E1670E;
}

.burger--active:hover {
  color: #FF9900;
}

/* Возвращаем длину линий для крестика*/
.burger--active span, .burger--active:hover span {
  width: 100%;
}

.burger--active::after, .burger--active:hover::after {
  width: 100%;
}
/**/

.burger:focus::after {
  opacity: 1;
}

  .section-header__logo-link {
    max-width: 150px;
    margin-right: 0;
  }

  .section-header__img {
    max-width: 100%;
  }

  .section-header {
    padding-top: 26px;
    padding-bottom: 21px;
    position: relative;
  }

  .nav {
    padding-right: 0;
  }

  .section-project__content{
      padding: 161px 45px;
      padding-right: 100px;
      padding-bottom: 115px;
  }

  .section-project__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
  }

  .section-project__text {
    margin-bottom: 110px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-project__btn-content {
    padding: 25px 40px;
  }

  .section-about {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .section-about__title {
    margin-bottom: 24px;
  }

  .section-about__content {
    margin-bottom: 30px;
    padding-right: 0;
  }

  .section-about__blocks {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-size: 100%;
    margin-bottom: 0;
  }

  .block-preview {
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
    height: 640px;
  }

  .block-preview__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px 44px;
    padding-right: 50px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .block-preview__block-content {
    margin-bottom: 0;
  }


  .section-about__cards {
    width: 100%;
  }

  .section-about__list {
    padding: 63px 50px;
    padding-left: 348px;
    padding-right: 100px;
  }

  .bg-cube{
    background-position: 113px 72px;
    padding: 65px 52px;
    padding-left: 348px;
    padding-right: 100px;
  }

  .bg-gear {
    background-position: 113px 62px;
    padding: 67px 52px;
    padding-left: 348px;
    padding-right: 100px;
  }

  .item-about {
    width: 100%;
  }

  .item-about:first-child {
    margin-bottom: 40px;
}

  .section-work {
    padding-top: 27px;
    padding-bottom: 35px;
  }

  .section-work__container {
    margin-bottom: 0;
  }
  .description__content{
    margin-bottom: 29px;
  }

  .description{
    background-size: 47.3% auto;
    background-image: url('../img/Rectangle181024.png');
    background-position: right 80%;
    background-repeat: no-repeat;
  }

  .description-estimate {
    background-image: url('../img/tab-21024.jpg');
    padding-bottom: 154px;
  }

  .description-contractors {
    background-image: url('../img/tab-31024.jpg');
    padding-bottom: 154px;
  }

  .description-inspection {
    background-image: url('../img/tab-41024.jpg');
    padding-bottom: 154px;
  }

  .description-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .description__text {
    max-width: 47%;
  }

  .btns-description {
    padding-top: 0;
  }

  .section-questions{
    padding-top: 13px;
  }

  .list-questions {
    margin-bottom: 50px;
  }

  .list-questions__content{
    font-size: 20px;
    line-height: 32px;
  }

  .list-questions__content {
    max-width: 80%;
  }

  .footer__container {
    padding-right: 10px;
    padding-bottom: 70px;
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .footer-left{
    margin-right: 50px;
  }

  .footer-middle{
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-right: 0;
    padding-top: 50px;
  }

  .footer-middle__form{
    width: 100%;
  }

  .form-btn__btn-send {
    margin-right: 15px;
    padding: 22px 34px;
    width: 240px;
  }

  .checkbox__text::after {
    width: 0;
  }

  .footer-right {
    display: none;
  }

  .form__textarea {
    max-width: 93%;
  }

  .input {
    max-width: 93%;
  }


  .form-btns{
   -ms-flex-wrap: wrap;
       flex-wrap: wrap;
  }

  .footer__container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
	}

  .btns-description{
		margin-bottom: 10px;
	}
}
