
@media (max-width: 992px) {

  .description {
    background-image: url(../img/works-tabs-mobile.jpg);
    background-position: top;
    background-size: 100% 284px;
    padding-top: 325px;
  }

  .description-estimate {
    background-image: url('../img/tab-2mob.jpg');
  }

  .description-contractors {
    background-image: url('../img/tab-3mob.jpg');
  }

  .description-inspection {
    background-image: url('../img/tab-4mob.jpg');

  }
    .description__text {
      max-width: 100%;
    }
  }

@media (max-width: 768px) {

  .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .section-header {
    padding-top: 6px;
    padding-bottom: 10px;
    position: relative;
  }

  .section-header__container{
    padding-top: 0px;
    padding-bottom: 0;
    padding-left: 45px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section-project .swiper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .section-project__content {
    padding: 193px 49px;
    padding-right: 15px;
    padding-bottom: 115px;
  }

  .section-project__title {
    margin-bottom: 10px;
    font-size: 60px;
    line-height: 73px;
    max-width: 850px;
    font-weight: 800;
  }

  .section-project__container {
    margin: 0;
    padding: 0px;
  }

  .section-about__container {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-about__preview {
    margin-bottom: 42px;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 647px;
  }

  .block-preview__block {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 21px;
    padding-top: 25px;
  }

  .block-preview__block-content {
    width: 65%;
  }
  .section-work__description {
    padding-top: 325px;
  }

  .work__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .bg-cube {
    padding-top: 34px;
    padding-left: 177px;
    padding-right: 16px;
    padding-bottom: 37px;
    background-size: 114px auto;
    background-position: 32px 73px;
  }

  .item-about:first-child {
    margin-bottom: 42px;
  }

  .bg-gear {
    background-size: 114px auto;
    background-position: 32px center;
  }

  .section-about__item {
    padding-top: 34px;
    padding-left: 177px;
    padding-right: 71px;
    padding-bottom: 35px;
  }

  .section-work {
    padding-top: 32px;
  }

  .section-work__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .work-title {
    margin-bottom: 47px;

  }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 44px;
  }

  .section-questions {
    padding-bottom: 0;
  }

  .section-questions__container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .section-questions__title {
    letter-spacing: -1.1px;
    margin-right: 0;
  }

  .list-questions {
    margin-bottom: 60px;
  }

  .list-questions__content {
    max-width: 86%;
  }

  .footer__container {
    padding-top: 9px;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }

  .btns-description {
    padding-top: 0;
  }

  .footer-left__list {
    display: none;
  }

  .footer-left__logo {
    padding-top: 5px;
  }

  .footer__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .form__btns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }

  .form-btn__btn-send {
    padding: 22px 40px;
  }

  .checkbox__text {
    width: 100%;
  }

  .checkbox__text::after {
      width: 0px;
  }

  .footer-middle {
    margin-bottom: 50px;
    width: 100%;
  }

  .footer-left {
    margin-bottom: 50px;
  }

}
