
@media (max-width: 576px) {

  .container {
    padding: 0 15px;
  }

  .burger {
    width: 25px;
    height: 19px;
  }

  .section-header {
    padding-top: 6px;
    padding-bottom: 3px;
  }

  .section-header__container{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-header__logo-link {
    max-width: 100px;
    margin-right: auto;
  }

  .menu {
    padding-top: 60px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60%;
    padding-left: 60px;
    overflow: hidden;
  }

  .nav__link {
    font-size: 16px;
  }

  .section-header__btn, .search svg {
    display: none;
  }

  .section-project__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-project__container .swiper-pagination-bullet {
    margin-bottom: 15px;
  }

  .section-project__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 33px 15px;
    padding-bottom: 42px;
  }

  .section-project__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

  .section-project__text {
    margin-bottom: 35px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .section-project__btn-content {
    padding: 12px 27px;
    max-width: 162px;
    font-size: 12px;
    line-height: 15px;
  }

  .section-about {
    padding-top: 38px;
    padding-bottom: 0;
    margin-bottom: 12px;
  }

  .section-about__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-title {
    font-size: 24px;
    line-height: 29px;
  }

  .section-about__title {
    margin-bottom: 2px;
  }

  .section-about__content {
    margin-bottom: 11px;
    font-size: 14px;
    line-height: 28px;
    padding-bottom: 0px;
  }

  .item-about__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .section-about__preview {
    padding-top: 208px;
    height: auto;
    background-size: 100% 200px;
    background-position: top;
    margin-bottom: 42px;
  }

  .item-about:first-child {
    margin-bottom: 25px;
}

  .block-preview__block {
    display: block;
    background-color: transparent;
    padding: 0;

  }

  .block-preview__block-content {
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #333;
    width: 100%;
  }

  .block-preview__btn {
    padding: 10px 41px;
    border: 2px solid var(--bg-color-orange);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--bg-color-orange);
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    width: 162px;
  }

  .section-about__item {
    padding: 0;
    padding-top: 62px;
    border: none;
    background-size: 64px 49px;
    background-position: left top;
}

.section-about__text-content {
  font-size: 14px;
  line-height: 28px;
}

.section-about__item .section-about__text-content {
  max-width: none;
  width: 100%;
}

.section-work {
  margin-bottom: 25px;
  padding-bottom: 0px;
  padding-top: 36px;
}

.work-title {
    margin-bottom: 34px;
}

.work-list {
   margin-bottom: 17px;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
}

.work-list__btn {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.work-list__element:not(:last-child) {
    margin: 0;
}

.description {
    padding-top: 167px;
    background-size: 100% 160px;
}

.description__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  margin: 0;
}

.description__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 19px;
}

.btns-description {
  padding: 0;
  margin-bottom: 0;
}

.btns-description__detail-btn {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 13px 44px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
}

.btns-description__contract-btn {
  padding: 12px 31px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

.section-questions__title {
  margin-bottom: 15px;
}

.section-questions__list {
  margin-bottom: 39px;
}

.list-questions__content {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.list-questions__accord {
  width: 30px;
  height: 30px;
}

.section-questions {
  padding-bottom: 0;
}

.footer__container {
  width: 100%;
  margin-bottom: 25px;
}

.footer-middle {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 40px;
  border-bottom: 1px solid #595959;
}

.footer-middle__title {
  font-size: 24px;
  line-height: 29px;
}

.footer-middle__form {
  width: 100%;
}

.input {
  font-size: 14px;
  line-height: 32px;
  max-width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}

.form__textarea {
  font-size: 14px;
  line-height: 32px;
  /* width: 100%; */
  max-width: 100%;
  margin-bottom: 27px;
}

.form-btns {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.form-btn__btn-send {
  margin-right: 0;
  margin-bottom: 0;
  padding: 13px 28px;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  width: auto;
}

.footer-left__logo {
  max-width: 131px;
  padding: 0;
}

.footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-right: 0;
}

.footer-left__img {
  max-width: 100%;
}

.icon-list__img {
  width: 34px;
  height: 34px;
}

.form-btn__chekbox {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.checkbox__text::after {
  width: 0;
}

.icon-list__item:not(:last-child) {
  padding-right: 15px;
}

}
